 # Unity generated
Builds/
Temp/
Library/
obj/

# Visual Studio / MonoDevelop generated
*.unityproj
*.suo
*.userprefs
*.user

# OS generated
.DS_Store

# Jetbrains Rider
.idea

# Recorded Data
IMG
driving_log.csv
Archive.zip
sdc.app
